<div class="container my-5">

	<div class="row justify-content-center">


		<div class="col-md-6">
			<h1 class="mt-5 mb-3">Races </h1>

			<form action="/characters/create/race/{{character_id}}" method="POST">
            <div class="text mb-4 border-start border-danger border-4 ps-3 py-3 mb-3 bg-danger bg-opacity-10">AÑADIR TEXTO AQUÍ.</div>

				<div class="mb-3 col">
					<label for="speed" class="form-label">Speed</label>
                    <div class="form-text mb-3"><em>Speed determines the distance in feet that the character or monster can walk in 1 round. </em></div>
					<input readonly type="text" class="form-control read-only" id="speed" name="speed" value="{{speed}}"/>
				</div>
                <div class="mb-3 col">
					<label for="alignment" class="form-label">Alignment</label>
                    <div class="form-text mb-3"><em>Alignment describes a character's moral and ethical outlook.</em></div>
					<select id="alignment" class="form-select mb-4" aria-label="Default select example" name="alignment">
						<option selected>Select your prefered alignment</option>
						{{#each allAlignments}}
                            <option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
                <div class="mb-3 col">
					<label for="age" class="form-label">Age</label>
                    <div class="form-text mb-3"><em>You can choose or randomly generate your character’s age based on the age description.</em></div>
                    <input type="number" class="form-control" id="age" name="age" value="50" />
				</div>
                <div class="mb-3 col">
					<label for="ageDescription" class="form-label">Age description</label>
                    <div class="form-text mb-3"><em>Each class has its own maximum age.</em></div>
                    <textarea readonly type="text" class="form-control read-only" id="ageDescription" name="ageDescription" rows="3">{{ageDescription}}</textarea>
				</div>
                 <div class="mb-3 col">
					<label for="sizeDescription" class="form-label">Size description</label>
                    <div class="form-text mb-3"><em>Each class has its own size.</em></div>
                    <textarea readonly type="text" class="form-control read-only" id="ageDessizeDescriptioncription" name="sizeDescription" rows="3">{{sizeDescription}} </textarea>
				</div>
                 <div class="mb-3 col">
					<label for="languages" class="form-label">Languages</label>
                    <div class="form-text mb-3"><em>Languages are simply the different types of speech used by various peoples and creatures of a world, whether a Homebrew or a canon world like Forgotten Realms or Eberron.</em></div>
                    <input readonly type="text" class="form-control read-only" id="languages" name="languages" value="{{#each allLanguages}}{{this}}.{{/each}}" />
				</div>

                 <div class="mb-3 col">
					<label for="traits" class="form-label">Traits</label>
                    <div class="form-text mb-3"><em>Personality traits might describe the things your character likes, his or her past accomplishments, things your character dislikes or fears, your character's self-attitude or mannerisms, or the influence of his or her ability scores.</em></div>
					<select id="traits" class="form-select mb-4" aria-label="Default select example" name="traits">
						<option selected>Select your prefered trait</option>
						{{#each allTraits}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
				<div class="my-5 d-grid gap-2">
					<button type="submit" class="btn btn-dark block">Next step</button>
				</div>
			</form>
		</div>
	</div>

</div>