<div class="container my-5 d-flex flex-column justify-content-center">

	<div class="row justify-content-center">
		<div class="col-md-8">

			<h1>Edit {{username}}</h1>

			<form action="/user/details/edit/{{_id}}" method="POST">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="username" value="{{username}}" />
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" class="form-control" id="email" name="email" value="{{email}}" />
				</div>
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea class="form-control" id="description" name="description" rows="5">{{description}}</textarea>
				</div>
				{{!-- <div class="mb-3">
					<label for="image" class="form-label">Image</label>
					<input type="text" class="form-control" id="image" name="image" value="{{imageUrl}}" />
				</div> --}}
				<div class="d-grid">
					<button type="submit" class="btn btn-success">Update</button>
				</div>

			</form>

		</div>
	</div>

	{{#if isAdmin}}
		<a href="/students" class="btn btn-dark d-grid mt-5">User list</a>
	{{/if}}
</div>