<div class="container my-5">
	<div class="row d-flex justify-content-center">
		<div class="col-lg-6">
			<div class="d-flex justify-content-between align-items-center">
				<h1 class="mb-4 text-center fw-bolder page-title">{{event.title}}</h1>
			</div>
			<p class="pb-2"><strong class="text-danger">Location: </strong>{{event.place}}</p>

			<p class="pb-2 ps-4 text-justify"><em>{{event.description}}</em></p>
			<div class="pb-2 d-flex justify-content-between">
				<p><strong class="text-danger">Date: </strong>{{event.formattedDate}}</p>
				<p><strong class="text-danger">Dungeon Master: </strong>{{event.user.username}}</p>
				<p><strong class="text-danger">Number max of player: </strong>{{event.maxParticipant}}</p>
			</div>

			<p ><strong class="text-danger">List of participants: </strong></p>
			<div class="text-black">
			{{#if isPlayer}}
			<ul class="pb-3">
				{{#each event.characters}}
				<li>{{charactername}} </li>
				{{/each}}
			</ul>
			
			{{/if}}

			{{#if isDM}}
			{{#each event.characters}}
			<ul>
			<form action="/events/characters/delete/{{../event._id}}/{{_id}}" method="POST" style="display: inline">
				<li>{{charactername}} 
					<button type="submit" value="{{_id}}" class="kick-btn bg-danger ms-2" name="{{charactername}}">—</button>
				</li>
			</form>
			</ul>
			{{/each}}
			{{/if}}
			</div>

		


			{{#if isPlayer}}
			{{#unless isJoined}}
			{{#unless isMaximumReached}}
			<div class="mb-3 col">
				<form action="/events/details/{{event._id}}" method="POST" style="display: inline">
					<label for="characters" class="form-label">Your characters</label>
					<div class="form-text mb-3"><em>Choose your character to join the event.</em></div>
					<select id="characters" class="form-select mb-4" aria-label="Default select example"
						name="characters">
						<option selected>Character</option>
						{{#each characters}}
						<option value="{{_id}}">{{charactername}}</option>
						{{/each}}
					</select>
					<input type="submit" value="Join with this character" class="btn btn-success" />
				</form>
			</div>
			{{/unless}}
			{{/unless}}
			{{/if}}

			<figure id="eventMap"></figure>

			<div class="mt-4">
				{{#if isDM}}
				<a href="/admin" class="btn btn-dark">Back to list</a>
				<a href="/events/edit/{{event._id}}" class="btn btn-warning">Edit</a>
				<form action="/events/delete/{{event._id}}" method="POST" style="display: inline">
					<input type="submit" value="Delete" class="btn btn-danger" />
				</form>
				{{/if}}

			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/eventmap.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2NpiwR2E5D-tDhDiXw1CUv71iwX7N3Q&callback=init"></script>